<div class="acc-type-picker-page-container">
    <div class="acc-type-picker-container">
        <div class="acc-type-buttons">
            <a href="/signup">
            <div class="vol-button">
                    <h2>Conta de Voluntário</h2>
                    <img src="vol-user.png" alt="">
            </div>
            </a>
            <a href="/orgsignup">
                <div class="org-button">
                    <h2>Conta de Organização</h2>
                    <img src="org-user.png" alt="">
            </div>
            </a>
        </div>
    </div>
</div>
