<div class="card" (click)="openModal()">
    <div class="card-tag" *ngIf="isMine">
        <p>Criada Por Si</p>
    </div>
    <div class="card-img">
        <img src="cardplaceholder.png" />
    </div>

    <div class="card-info">
        <h3>{{cardData.title}}</h3>
        <p>{{cardData.description}}</p>
        <div class="card-location">
            <img src="marker.png" alt="">
            <p>{{cardData.address}}</p>
        </div>
    </div>
</div>

<div class="modal" [class.show]="isModalOpen">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <p>Modal content goes here...</p>
    </div>
</div>






