footer {
  background: rgb(100,203,253);
  background: linear-gradient(137deg, rgba(100,203,253,1) 0%, rgba(0,121,121,1) 24%, rgba(170,238,125,1) 100%);
  padding: 10px;
  text-align: center;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}
