.mat-toolbar{
    background: rgb(100,203,253);
    background: linear-gradient(90deg, rgba(100,203,253,1) 0%, rgba(0,121,121,1) 40%, rgba(65,171,139,1) 100%);
    background-color: var(--darkgreen-color);
    color: var(--light-color);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    
    margin: auto;
    top: 20px;
    padding: 0px 40px;
    border-radius: 50px;
    width: 85%;
    height: 80px;

}

.container-navbar-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-navbar-logo p{
    font-size: 32px;
    font-weight: 900;
}

.navbar-icon{
    height: 100%;
    width:60%;
    margin-bottom: 14px;
    
    &:hover{
        cursor:pointer;
    }
}

.container-navbar span{
    color: var(--light-color);
}

.container-navbar-item a{
    color: var(--light-color);
    text-decoration: none;
    font-size: 16px;
    margin-left: 12px;
}

.container-navbar-item :hover{
    cursor: pointer;
    text-decoration: underline;
}
