<mat-toolbar class="mat-toolbar">
    <div class="container-navbar-logo">
        <img routerLink="" class="navbar-icon" src="favicon256.png" alt="">
    </div>
    <div class="container-navbar">
        <span class="container-navbar-item">
            <a routerLink="/oportunidades" routerLinkActive="active"><i class="fas fa-hands-helping"></i> Oportunidades</a>
        </span>
        <span class="container-navbar-item" *ngIf="isLoggedIn && isOrgAccount">
            <a routerLink="/candidaturas" routerLinkActive="active"><i class="fas fa-users"></i> Candidaturas</a>
        </span>
        <span class="container-navbar-item">
            <a routerLink="/perfil" routerLinkActive="active"><i class="fas fa-user-circle"></i> {{ isLoggedIn ? 'Perfil' : 'Criar Conta' }}</a>
        </span>
        <span class="container-navbar-item">
            <a *ngIf="isLoggedIn" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Sair</a>
        </span>
    </div>
</mat-toolbar>