<div class="container-landing">
    <div class="container-intro">
        <div class="intro-left">
            <h1>SAPIENS</h1>
            <h3>"Uma aplicação que ajuda a ajudar"</h3>
            <p>Começe agora a voluntariar-se ou a encontrar voluntarios</p>
            <a href="/oportunidades">Começar Agora</a>
        </div>
        <div class="intro-right"></div>
    </div>
    <div class="container-tutorial">
        <div class="tutorialbox-left">
            <img src="sign-in-alt.png" alt="">
            <h2>Criar Conta</h2>
            <h2>Voluntário/Empresa</h2>
            <p>Descrição</p>
        </div>
        <img class="arrow" src="arrow.png" alt="">
        <div class="tutorialbox-middle">
            <img src="pen-field.png" alt="">
            <h2>Criar/Procurar</h2>
            <h2>Oportunidades</h2>
            <p>Descrição</p>
        </div>
        <img class="arrow" src="arrow.png" alt="">
        <div class="tutorialbox-right">
            <img src="search.png" alt="">
            <h2>Aplicar ou</h2>
            <h2>Encontrar Voluntários</h2>
            <p>sdfsdf</p>
        </div>
        
    </div>
</div>
