.container-landing{
    width: 85%;
    min-height: 100vh; 
    margin:auto;
}

.container-intro{
    height: 80vh;
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-top: 56px;
    justify-content: space-between;
}

.intro-left{
    width: 40%;
    background: var(--lightgreen-color);
    color: var(--light-color);
    height: 100%;
    padding: 80px 40px;
    border-radius: 56px;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background: rgb(100,203,253);
    background: linear-gradient(137deg, rgba(100,203,253,1) 0%, rgba(0,121,121,1) 24%, rgba(170,238,125,1) 100%);
}

.intro-left h1 {
    font-size: 80px;
}

.intro-left h3{
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    letter-spacing: .8px;


}

.intro-left p {
    margin-top: 54px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 48px;
    
}

.intro-left a {
    font-style: bold;
    text-decoration: none;
    font-size: 18px;
    border:0px;
    border-radius:100px;
    padding: 20px;
    margin:30px;
    border:1px;
    background-color:transparent;
    color:#FFFFFF;
    font-weight:normal;
    transition:1s;
    border:1px solid #FFFFFF;

    &:hover{

        cursor:pointer; 
        background-color:#F9F9F9;
        border:1px solid #FFFFFF;
        opacity:1;
        transition:1s;
        color:#007979;
    }
}

.intro-right{
    border-radius: 56px;
    width: 60%;
    background-image: url("/intro.jpeg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    height: 100%;
}

.container-tutorial{
    height: 40vh;
    display: flex;
    flex-direction: row;
    margin-top: 56px;
    justify-content: space-evenly;
    
}

.container-tutorial{
    margin-top: 260px;
    text-align: center;
    color: #222; 
}

.container-tutorial p{
    margin-top: 12px;
    color: darkgray;
}

.container-tutorial img{
    height: 64px;
    width: 64px;
    margin-bottom: 12px;
}

.container-about {
    padding: 20px;
    background: #ebebeb;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

.container-about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.container-about p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}
