<body>
    <div class="login-page-container">
        <div class="login-container">
            <h1>Criar Conta</h1>
            <form>
                <label for="fullname">Nome:</label>
                <input type="text" id="fullname" name="fullname" placeholder="Enter your full name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Create a password" required>

                <label for="confirm-password">Confir:</label>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm your password"required>

                <button type="submit">Sign Up</button>
            </form>
            <p>Already have an account? <a href="#">Login</a></p>
        </div>
    </div>
</body>