/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    width: 100%;
    margin: 0;
    padding: 0;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #f9f9f9;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23007979' fill-opacity='0.05'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
}

:root{
    /* --primary-color:  */
    --grey-color: #555;
    --blue-color: #64cbfd;
    --lightgreen-color:#aaee7d;
    --darkgreen-color:#007979;
    --light-color: #eee;
    --dark-color: #222;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scrollbar-width: 7px;
   /* scrollbar-color: #007979 #ffffff;
    scroll-behavior: smooth;
    background-color: transparent; */
}

/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 8px !important;
    border: 0px dotted #007979;
}